<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Host</key>
	<string>www.freechess.org</string>
	<key>Port</key>
	<string>5000</string>
	<key>Login</key>
	<string>guest</string>
	<key>Password</key>
	<string></string>
	<key>LoginAsGuest</key>
	<string>0</string>
	<key>ShowLegalMoves</key>
	<string>1</string>
	<key>AutoFlag</key>
	<string>1</string>
	<key>SkipIntro</key>
	<string>0</string>
	<key>SoundEnabled</key>
	<string>1</string>
	<key>Increments</key>
	<array>
		<string>0</string>
		<string>5</string>
		<string>10</string>
		<string>15</string>
		<string>30</string>
		<string>60</string>
	</array>
	<key>Ratings</key>
	<array>
		<string>0</string>
		<string>100</string>
		<string>200</string>
		<string>300</string>
		<string>400</string>
		<string>500</string>
		<string>600</string>
		<string>700</string>
		<string>800</string>
		<string>900</string>
		<string>1000</string>
		<string>1100</string>
		<string>1200</string>
		<string>1300</string>
		<string>1400</string>
		<string>1500</string>
		<string>1600</string>
		<string>1700</string>
		<string>1800</string>
		<string>1900</string>
		<string>2000</string>
		<string>2100</string>
		<string>2200</string>
		<string>2300</string>
		<string>2400</string>
		<string>2500</string>
		<string>2600</string>
		<string>2700</string>
		<string>2800</string>
		<string>2900</string>
		<string>3000</string>
	</array>
	<key>Times</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>12</string>
		<string>15</string>
		<string>20</string>
		<string>25</string>
		<string>30</string>
		<string>35</string>
		<string>40</string>
		<string>45</string>
		<string>50</string>
		<string>55</string>
		<string>60</string>
	</array>
	<key>SeekParams</key>
	<dict>
		<key>SeekTimeMin</key>
		<string>5</string>
		<key>SeekTimeMax</key>
		<string>15</string>
		<key>SeekIncMin</key>
		<string>0</string>
		<key>SeekIncMax</key>
		<string>10</string>
		<key>SeekPieceColor</key>
		<string>0</string>
		<key>SeekRatingType</key>
		<string>0</string>
		<key>SeekRatingMin</key>
		<string>500</string>
		<key>SeekRatingMax</key>
		<string>3000</string>
		<key>SeekAllowUnregistred</key>
		<string>0</string>
	</dict>
	<key>MatchParams</key>
	<dict>
		<key>MatchName</key>
		<string>YourFriend</string>
		<key>MatchTime</key>
		<string>10</string>
		<key>MatchInc</key>
		<string>5</string>
		<key>MatchPieceColor</key>
		<string>0</string>
		<key>MatchRatingType</key>
		<string>0</string>
	</dict>
</dict>
</plist>
